
    <div class="bg">

        <div class="container">
            <img src="assets/app_logo.png" alt="" class="logo" />


            <div class="container-login">
                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-1-12 col-form-label"></label>
                        <div class="col-sm-1-12 input-container">
                            <!-- <i class="fa fa-user icon fa-2x"></i> -->
                            <i class="fa fa-envelope icon"></i>
                            <input #email type="email" class="form-control-md form-control-sm" name="email" id="email"
                                placeholder="Enter Email">
                        </div>
                    </div>
                    <div class="form-group row form-group-new">
                        <label for="password" class="col-sm-1-12 col-form-label"></label>
                        <div class="col-sm-1-12 input-container">
                            <!-- <i class="fa fa-key icon fa-2x"></i> -->
                            <i class="fa fa-key icon"></i>
                            <input #password type="password" class="form-control-md form-control-sm" name="password" id="password"
                                placeholder="Password">
                        </div>
                    </div>
                    <!-- <fieldset class="form-group row">
                        <legend  class="col-form-legend col-sm-3-12">Forgot Passsword?</legend>
                        <div class="col-sm-1-12">
                        </div>
                    </fieldset> -->
                    <p style="    display: inline;
                    padding-left: 25%;color: rgb(172, 169, 169);"><b>Forgot Password</b></p>
                     <div class="form-group row">
                        
                        
                        <div class="col-sm-1-12 input-container">
                            
                            <input (click)="loginClicked(email.value,password.value)" style="text-align: center; text-indent: 0px;background:#007bff;color: white;border: solid black 1px;" readonly  type="text" class="Login form-control-md form-control-sm" name="password" id="password"
                                placeholder="LOGIN" /> 
                        </div>
                    </div>

                    <!-- <div style="width: 100%;" class="log">
                    <div class="form-group row">
                        <div  class="col-sm-10 col-md-10">
                            It is not taking button
                           <p class="log-btn"  (click)="loginClicked()">LOGIN</p>
                           <p (click)="loginClicked(email.value,password.value)" type="submit" class="btn btn-primary log-btn">LOGIN</p>
                        </div>
                    </div>
                </div> -->
                </form>
                <p>Not Registered? <b style="color: rgb(172, 169, 169);" (click)="onClick()" routerLink="/register">Register Now</b></p>
            </div>
            
            <p class="p"><b>OR</b></p>
            
            <p>Login With</p>
            <div class="login-options">
                <div class="google">
                <img src="assets/google.png" alt="google">
                <p style="color: rgb(172, 169, 169);"> Google</p>
                </div>
                <div class="facebook">
                <img src="assets/facebook.png" alt="facebook">
                <p style="color: rgb(172, 169, 169);">Facebook</p>
                </div>
                
            </div>
            <div class="login-options">
            
               
            
            
                
            
            </div>



        </div>
    </div>

