.bg {
    /* The image used */
    background-image: url("app_main_bg.png");
    
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .container{
      
     height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .choices{
      width: 75%;
      
      background: grey;
      
     
      border-radius: 2rem;
      text-align: center;
      margin: 5%;
      padding: 3%;
  }


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 2%;
  }
  .fa-arrow-left{
    position: fixed;
    top: 10;
    left: 0;
    color: white
  }
  .header {
  
    width: 100%;
    background-color: #007bff;
    color: white;
    /* text-align: center; */
    
    padding: 2%;
  }
  .header p{
    padding-left: 10%;
    font-size: 1.3rem;
  }
