
<!-- Side navigation -->
<div class="sidenav">
    <p style="text-align: center;background: #0f3356;color: aliceblue;margin-bottom: 20px;">
        <i class="fas fa-dollar-sign"></i>


        Amount</p>
    <a (click)="detailfetch(0)">${{amount[0]}}</a>
    <a (click)="detailfetch(1)">${{amount[1]}}</a>
    <a (click)="detailfetch(2)">${{amount[2]}}</a>
    <a (click)="detailfetch(3)">${{amount[3]}}</a>
    <a (click)="detailfetch(4)">${{amount[4]}}</a>
    <a (click)="detailfetch(5)">${{amount[5]}}</a>
    <a (click)="detailfetch(6)">${{amount[6]}}</a>
    <a (click)="detailfetch(7)">${{amount[7]}}</a>
  </div>
  
  <!-- Page content -->
  <div class="main">
      <p>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        Details</p>
      <div class="details">
        <!-- <p>Get 2 free Yellow Heart</p>
        <p>Get 1 Free Red Heart</p>
        <p>Earn upto ---- in starter round</p>
        <p>Earn upto ---- in Bonus</p>
        <p>Earn upto ---- in super Bonus</p>
        <p>Earn upto ___ Jackpot round</p> -->
     <p [innerHTML]="detailDisplay"></p>
    </div>
</div>
<div [hidden]="continuePressed" class="heart-deposite">
  <p>Enter Extra hearts you want to Buy</p>
  <p><b>-</b> <i style="color:red" class="fa fa-heart" aria-hidden="true"></i>  <b>+</b>  {{count_r}}</p>
  <p><b>-</b>  <i style="color:yellow" class="fa fa-heart" aria-hidden="true"></i>  <b>+</b>  {{count_y}}</p>
  <p>Total Amount = {{"totalAmount"}}</p>
</div>
<div class="footer">
    <button (click)="continue()"   class="btn btn-primary">Contiue</button>
</div>
  