 <div class="bg">
    
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div id="dismiss">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <div class="sidebar-header">
                    <h3>Cash Quiz</h3>
                </div>

                <ul class="list-unstyled components">
                    <div class="logo">
                        <img src="assets/app_logo.png" alt="">
                        <p>UserName</p>
                        <p>email</p>
                    </div>


                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                            <img src="assets/home.png" alt="">
                            Home
                        </a>
                        <a href="#"><img src="assets/qui.png" alt=""> Quiz History</a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><img
                                src="assets/payment.png" alt=""> Payment History</a>
                        <a href="#"><img src="assets/info.png" alt="">About Us</a>
                        <a href="#"><img src="assets/requestcontact.png" alt="">Contact Us</a>
                        <a href="#"><img src="assets/walletdrawericon.png" alt="">Wallet</a>
                        <a href="#"><img src="assets/privacy_policy.png" alt="">Privacy Policy</a>
                        <a href="#"><img src="assets/term.png" alt="">Terms & Conditions</a>
                        <a href="#"><img src="assets/profile.png" alt="">Profile</a>
                        <a href="#"><img src="assets/share.png" alt="">Share</a>
                        <a href="#"><img src="assets/support.png" alt="">Settings</a>
                        <a href="#"><img src="assets/logout.png" alt="">LogOut</a>
                    </li>

                </ul>


            </nav>

            <!-- Page Content  -->

            <div id="content">

                <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                    <div class="contianer">

                        <button type="button" id="sidebarCollapse" class="btn btn-primary">
                            <i class="fa fa-align-justify" aria-hidden="true"></i>
                        </button>
                        CURRENT OPTION
                    </div>
                </nav>
                <app-inner (startclicked)="startTheQuiz()"></app-inner>
                
            </div>
        </div>
        
        <div class="overlay"></div>

