


    <div class="bg">
        <div class="container">
            <h1>Green Money Details</h1>

            <div class="container">
                <form>
                    <div class="form-group row">
                        
                        <label for="username" class="col-sm-1-12 col-form-label"></label>
                        
                        <div class="col-sm-1-12 input-container">
                            <i class="fa fa-user icon fa"></i>
                            <input #username type="text" class="form-control-md form-control-sm mainLoginInput" name="username" id="username"
                                placeholder="User Name" />
                        </div>
                    </div>

                    <div class="form-group row">
                        
                        <label for="email" class="col-sm-1-12 col-form-label"></label>
                        <div class="col-sm-1-12 input-container">
                            <i class="fa fa-envelope icon"></i>
                            <input #email type="email" class="form-control-md form-control-sm" name="email" id="email"
                                placeholder="Enter Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-1-12 col-form-label"></label>
                        <div class="col-sm-1-12 input-container">
                            <i  class="fa fa-phone icon"></i>
                            
                            <input #email type="email" class="form-control-md form-control-sm" name="email" id="email"
                                placeholder="Enter Phone No">     
                                
                        </div>
                    </div>

                    <div class="form-group row">
                        
                        <label for="email" class="col-sm-1-12 col-form-label"></label>
                        <div class="col-sm-1-12 input-container">
                            <i class="fa fa-map-marker"></i>
                            <input #email type="email" class="form-control-md form-control-sm" name="email" id="email"
                                placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group row">
                        
                        <label for="email" class="col-sm-1-12 col-form-label"></label>
                        <div class="col-sm-1-12 input-container">
                            <i class="fa icon fa-building"></i>
                            <input #email type="email" class="form-control-md form-control-sm" name="email" id="email"
                                placeholder="City">
                        </div>
                    </div>
                    <div class="form-group row">
                        
                        <label for="email" class="col-sm-1-12 col-form-label"></label>
                        <div class="col-sm-1-12 input-container">
                        <i class="fa fa-location-arrow" ></i>
                            <input #email type="email" class="form-control-md form-control-sm" name="email" id="email"
                                placeholder="State">
                        </div>
                    </div>
                    <div class="form-group row">
                        
                        <label for="email" class="col-sm-1-12 col-form-label"></label>
                        <div class="col-sm-1-12 input-container">
                            <i class="fa fa-address-book" ></i>
                            <input #email type="email" class="form-control-md form-control-sm" name="email" id="email"
                                placeholder="Zip">
                        </div>
                    </div>
                    <div class="form-group row">
                        
                        <label for="email" class="col-sm-1-12 col-form-label"></label>
                        <div class="col-sm-1-12 input-container">
                            <i class="fa fa-globe" ></i>
                            <input #email type="email" class="form-control-md form-control-sm" name="email" id="email"
                                placeholder="Country">
                        </div>
                    </div>
                    <div class="form-group row">
                        
                        <label for="email" class="col-sm-1-12 col-form-label"></label>
                        <div class="col-sm-1-12 input-container">
                            <i class="fa fa-id-card"></i>
                            <input #email type="email" class="form-control-md form-control-sm" name="email" id="email"
                                placeholder="card">
                        </div>
                    </div>
                    <div class="form-group row">
                        
                        <label for="email" class="col-sm-1-12 col-form-label"></label>
                        <div class="col-sm-1-12 input-container">
                            <i class="fas fa-wallet    "></i>
                            <input #email type="email" class="form-control-md form-control-sm" name="email" id="email"
                                placeholder="Wallet">
                        </div>
                    </div>
                    

                    
                    <div class="form-group row">
                        <div  (click)="payment()" class="col-sm-1-12 input-container">
                            <input  style="text-align: center; text-indent: 0px;background:#007bff;color: white;" readonly  type="text" class="Register form-control-md form-control-sm" name="password" id="password"
                                placeholder="PAY NOW" /> 
                        </div>
                    </div>
                    
                   
                </form>
            </div>
        </div>
    </div>

