<div class="container">
    <div class="amounts">
        <div>
            <h1> Amount </h1>
        </div>
        <div class="amount a1">
            <p>1.99$</p>
        </div>
        <div class="amount a2">
            <p>2.99$</p>
        </div>

    </div>

    <div class="detail">
        <div>
             <h1> Detail </h1>
        </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quae architecto nulla, voluptatum tempore maiores libero debitis fugit perferendis praesentium excepturi, quo numquam consequatur perspiciatis sequi. Eaque ipsum itaque nam?Laboriosam cupiditate maiores iusto necessitatibus facilis at eum corrupti ea. Error, adipisci aut nisi nesciunt atque fugit magni labore nobis. Libero labore eveniet ipsum autem eum neque culpa incidunt mollitia.</p>

    </div>
</div>