
<!-- Side navigation -->
<div class="sidenav">
    <p style="text-align: center;background: #0f3356;color: aliceblue;margin-bottom: 20px;">Amount</p>
    <a href="#">$1.99</a>
    <a href="#">$2.99</a>
    <a href="#">$3.99</a>
    <a href="#">$4.99</a>
  </div>
  
  <!-- Page content -->
  <div class="main">
      <p>Details</p>
      <div class="details">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, natus hic molestiae necessitatibus quis, quo minus nisi vel cumque excepturi expedita, voluptatum ea dolor quia inventore nobis. Amet, necessitatibus ex?
      </div>
</div>
<div class="footer">
    <button  class="btn btn-primary">Contiue</button>
</div>
  