<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
     
    

      </head>

<body>
  <app-log-in [hidden]="!start || !register"  (register_val)="registerClicked()" (login)="startPage()" ></app-log-in>
  <app-register [hidden]="register" (register_val)="logInClicked()"></app-register>
  <app-start-quiz [hidden]="start" (start)="startQuiz()"></app-start-quiz>
  <app-quiz-question [hidden]="questions"></app-quiz-question>
  
</body>
</html>
