*{
    margin: 0%;
    border: 0%;
  }
  body,
  html {
    height: 100%;
    background: #0f3356;
  }
  p{
      color: grey;
  }
  hr{
      border-top: 2px solid #f8f9fa;
      margin: 1rem 15%;
  }
  
  /* Background Image Settings */
  .bg {
    /* The image used */
    /* background-image: url("app_main_bg.png"); */
    /* background: red; */
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .upper-bar{
    display: flex;
   padding-top: 5%;
}

.status{
    width: 50%;
    margin: 0 1%;
    padding: 3% 5%;
    /* background: black; */
    border: solid black 0px;
    border-radius: 2rem;
    text-align: center;
   
}
.status p{ color: white;}
.timerCircle {
    border-radius: 50%;
    width: 54px;
    height: 54px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 16px Arial, sans-serif;
}

  .question{
      width: 100%;
      padding: 10% 0;
      margin: 0% 0% 0% 0;
      /* background: black; */
      color: white;
      text-align: center;
  }
  .question p{
    color: white;
    font-size: 1.25rem;
    font-weight: 800;
  }
  .lifelines{
      display: flex;
  }

  .heart{
      width: 50%;
      margin: 0 1%;
      padding: 3% 5%;
      background: rgb(245, 241, 241);
      border: solid black 0px;
      border-radius: 2rem;
      text-align: center;
  }
  .red .fa-heart{
      color: red;
  }
  .yellow .fa-heart{
    color: yellow;
}
.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: rgb(15, 15, 15);
    text-align: center;

    font: 16px Arial, sans-serif;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option {
    display: flex;
    align-items: center;
    width: 85%;
    background: rgb(245, 241, 241);
    margin: 5% 0 0 0;
    padding: 1%;
    border: solid black 2px;
    border-radius: 4rem;
}
.option p{
    padding-left: 10%;
    color: black;
}
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .bg1 {
    /* The image used */
    background-image: url("app_main_bg.png");
  
    /* Full height */
    height: 100vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  /* trophy page */

  .trophy{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    /* animation-iteration-count: infinite; */
  }
  /* The animation code */
@keyframes example {
  0%   {transform: rotate(-20deg);}
  25%  {transform: rotate( 20deg);}
  50%  {transform: rotate(-20deg);}
  75%  {transform: rotate( 20deg);}
  100% {transform: rotate(-20deg);}
}
.fa-arrow-left{
  position: fixed;
  top: 10;
  left: 0;
  color: white
}
.header {

  width: 100%;
  background-color: #007bff;
  color: white;
  /* text-align: center; */
  
  padding: 2%;
}
.header p{
  padding-left: 10%;
  font-size: 1.3rem;
}

