<div *ngIf=!loadComplete class="bg1">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<div class="bg1" *ngIf=finished&&loadComplete>
    <h1>Completed the First Round</h1>
    <p>You answered :{{rightanswer}} out of 10</p>
</div>
    <div *ngIf=loadComplete&&!finished class="bg" [style.background-color]="bgcolor">
    <div class="upper-bar">
        <div class="status">
            <p> Question</p>
            <p>{{question+1}}/10</p>
        </div>
        <div class="timer">
            <div   class="timerCircle"> <countdown #countdown style="color: black;font-size:2rem;" [config]="{leftTime: 10,format:'s'}"  (event)="onTImerFinished($event)"></countdown></div>
       
        </div>
        <div class="status">
            <p>Right answer</p>
            <p>{{rightanswer}}/10</p>
        </div>
    </div>
    <div class="details">
        
    </div>

    <div class="question">
        <p>  {{printQuestion}}</p>
    </div>
    <div class="lifelines">
        <div class="heart red">
            <p><i class="fas fa-heart"></i> Use(1)</p>
        </div>
        <div class="heart yellow">
            <p><i class="fas fa-heart"></i> Use(1)</p>
        </div>
    </div>

    <div class="options">
        
        <div (click)="selectoption1()" class="option a1">
            <div class="numberCircle">A</div>
            
            <p>{{option1}}</p>
        </div>
        
        <div [hidden]="selectedoption" (click)="selectoption2()" class="option a2">
            <div class="numberCircle">B</div>
            <p>{{option2}}</p>
        </div>
        <div [hidden]="!selectedoption"  class="option a2">
            <div class="numberCircle">B</div>
            <p>{{option2}}</p>
        </div>
        <div [hidden]="selectedoption" (click)="selectoption3()" class="option a3">
            <div class="numberCircle">C</div>
            <p>{{option3}}</p>
        </div>
        <div [hidden]="!selectedoption"  class="option a3">
            <div class="numberCircle">C</div>
            <p>{{option3}}</p>
        </div>
        <div [hidden]="selectedoption" (click)="selectoption4()" class="option a4">
            <div class="numberCircle">D</div>
            <p>{{option4}}</p>
        </div>
        <div [hidden]="!selectedoption"  class="option a4">
            <div class="numberCircle">D</div>
            <p>{{option4}}</p>
        </div>
    </div>


</div>
