*{
    margin: 0%;
    border: 0%;
  }
  body,
  html {
    height: 100%;
    background: #0f3356;
  }
  p{
      color: grey;
  }
  hr{
      border-top: 2px solid #f8f9fa;
      margin: 1rem 15%;
  }
  
  /* Background Image Settings */
  .bg {
    /* The image used */
    background-image: url("app_main_bg.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .upper-bar{
    display: flex;
   padding-top: 5%;
}

.status{
    width: 50%;
    margin: 0 1%;
    padding: 3% 5%;
    /* background: black; */
    border: solid black 0px;
    border-radius: 2rem;
    text-align: center;
   
}
.status p{ color: white;}
.timerCircle {
    border-radius: 50%;
    width: 54px;
    height: 54px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 16px Arial, sans-serif;
}

  .question{
      width: 100%;
      padding: 10% 0;
      margin: 15% 0% 10% 0;
      background: black;
      color: white;
      text-align: center;
  }
  .lifelines{
      display: flex;
  }

  .heart{
      width: 50%;
      margin: 0 1%;
      padding: 3% 5%;
      background: black;
      border: solid black 0px;
      border-radius: 2rem;
      text-align: center;
  }
  .red .fa-heart{
      color: red;
  }
  .yellow .fa-heart{
    color: yellow;
}
.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 16px Arial, sans-serif;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option {
    display: flex;
    align-items: center;
    width: 85%;
    background: black;
    margin: 5% 0 0 0;
    padding: 1%;
    border: solid black 0px;
    border-radius: 4rem;
}
.option p{
    padding-left: 10%;
}
.lds-roller {
    
    position: fixed;
    
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .bg1 {
    /* The image used */
    background-image: url("app_main_bg.png");
  
    /* Full height */
    height: 100vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  