*{
    margin: 0%;
    border: 0%;
  }
  body,
  html {
    height: 100%;
    background: #0f3356;
  }
  p{
      color: grey;
  }
  hr{
      border-top: 2px solid #f8f9fa;
      margin: 1rem 15%;
  }
  
  /* Background Image Settings */
  .bg {
    /* The image used */
    background-image: url("app_main_bg.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }


  .question{
      width: 100%;
      padding: 10% 0;
      margin: 10% 0%;
      background: black;
      color: white;
      text-align: center;
  }
  .lifelines{
      display: flex;
  }

  .heart{
      width: 50%;
      margin: 0 1%;
      padding: 3% 5%;
      background: black;
      border: solid black 0px;
      border-radius: 2rem;
      text-align: center;
  }
  .red .fa-heart{
      color: red;
  }
  .yellow .fa-heart{
    color: yellow;
}