<div class="bg">
    <div class="upper-bar">
        <div class="status">
            <p> Question</p>
            <p>1/10</p>
        </div>
        <div class="timer">
        <i class="fa fa-circle fa-4x"></i>
        </div>
        <div class="status">
            <p>Right answer</p>
            <p>1/10</p>
        </div>
    </div>
    <div class="details">
        
    </div>

    <div class="question">
        <p>Question goes here</p>
    </div>
    <div class="lifelines">
        <div class="heart red">
            <p><i class="fas fa-heart"></i> Use(1)</p>
        </div>
        <div class="heart yellow">
            <p><i class="fas fa-heart"></i> Use(1)</p>
        </div>
    </div>

    <div class="options">
        <div class="option a1">
            <div class="numberCircle">A</div>
            <p>option1</p>
        </div>
        <div class="option a2">
            <div class="numberCircle">B</div>
            <p>option2</p>
        </div>
        <div class="option a3">
            <div class="numberCircle">C</div>
            <p>option3</p>
        </div>
        <div class="option a4">
            <div class="numberCircle">D</div>
            <p>option4</p>
        </div>
    </div>


</div>